#about {
  height: 100vh;
  background-image: linear-gradient(180deg, crimson, plum);
}

.about {
  height: 100%;
  background-color: #fff;
}
.about {
  color: #555;
  font-weight: 400;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  border: 1px solid;
  padding: 50px 0px;
  background-image: linear-gradient(45deg, crimson, plum);
}

.about .heading {
  position: absolute;
  padding: 30px;
  width: 50%;
  left: 10%;
  background: #fff;
  border-radius: 20px;
  z-index: 1;
}
.about .head {
  text-align: left;
  font-size: 45px;
  border-bottom: 2px solid;
  text-transform: capitalize;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.about .heading .text {
  margin-top: 50px;
  width: 100%;
  font-size: 18px;
}

.about .heading .text .texter {
  color: red;
  font-size: 19px;
  font-weight: 400;
}

.about .heading .text .pink {
  color: pink;
  font-size: 19px;
  font-weight: 400;
}

.about .heading .text .plum {
  color: plum;
  font-size: 19px;
  font-weight: 400;
}
.about .quest img {
  height: 90%;
}
